# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LARAVEL_PROJECTS\ycm_version2_try\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
